@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  padding: 0;
  margin: 0;
  height: 100vh;
}

.title {
  color: white;
  font-family: Open Sans;
  font-weight: 600;
  margin-top: 10px;
}
.paragraph {
  color: white;
  font-family: Poppins;
  margin-top: 10px;
  line-height: 26px;
}

.button {
  width: 160px;
  height: 45px;
  border-radius: 20px;
  border: none;
  font-family: Poppins;
  font-weight: 600;
  color: rgb(72, 72, 72);
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo-img {
  width: 20px;
  height: 20px;
}
.logo {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
